<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Admin Login Page</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="message alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if form.errors %}
        <ul class="form-errors messages">
            {% for error in form.non_field_errors %}
                <li class="message alert alert-danger">{{ error }}</li>
            {% endfor %}
        </ul>
        {% for field in form.visible_fields %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    {% endif %}


    
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {% for field in form.visible_fields %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                {{ field }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <button id="users_admin_login_form_submit_button" type="submit">Login</button>
    </form>

    <a href={% url 'users:password_request_reset_link' %}>Forgot Password? Click here!</a>
</body>
</html>