.container {
    width: 80%;
}

form, form table {
    padding: .5em;
    margin: auto;
    width: 70%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
}

nav {
    margin-bottom: 1em;
}

.admin-navbar .nav-link{
    color: white !important;
}

.public-navbar a, .nav-link{
    color: rgb(43, 43, 43) !important;
}

