{% load static %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
                <ul class="pt-4">
                    {% if user.is_admin %}
                        <li class="nav-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
                        <li><a href="/control-panel/">Control Panel</a></li>
                    {% else %}
                        <li><a href="{% url 'users:admin_login' %}">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap-4.3.1-dist/js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/select2/select2.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>