<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form %}
        <h1>Password reset</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
        <input id="users_password_reset_form_submit_button" type="submit" value="Submit">
    {% else %}
        <h1>Token is invalid!</h1>
        <a href="{% url 'users:login' %}">Back to login page</a>
    {% endif %}
</body>
</html>