<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST">    
        <input name="first_name" type="text" id="user-registration-form-first-name-field" placeholder="first name">
        <input name="email" type="text" id="user-registration-form-email-field" placeholder="email">
        <input type="submit" value="register">
        {% csrf_token %}
    </form>
</body>
</html>