<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login Page</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="message alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
        <form action="" method="post">
        {% csrf_token %}
        {% comment %} {{ form.non_field_errors }} {% endcomment %}
        <table>
            {% for field in form.visible_fields %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                {% comment %} {{ field.errors }} {% endcomment %}
                {{ field }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <button id="users_login_form_submit_button" type="submit">Login</button>
        </form>
    <a href={% url 'users:password_request_reset_link' %}>Forgot Password? Click here!</a>
</body>
</html>