<nav class="public-navbar navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand ml-auto" href="{% url 'therapybox:list_library' %}">The Therapy Box</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="{% url 'therapybox:list_library' %}" class="nav-link">Home</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'therapybox:shopping_cart' %}" class="nav-link">Cart</a></li>
          <li class="nav-item"><a href="{% url 'users:profile' user.id %}" class="nav-link">Profile</a></li>
          <li class="nav-item"><a href="{% url 'users:logout' %}" class="nav-link">Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'users:login' %}" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="{% url 'users:register' %}" class="nav-link">Register</a></li>
        {% endif %}
    </ul>
  </div>
</nav>